footer {
	background-color: #333537;
    color: #a1a1a1;
}

footer .copyright a {
    // make the license links visible
    text-decoration: underline;
    color: #a1a1a1; /* ensure links also made the same color */
}

 /* Hide the asciidoc footer showing useless generation time */
#footer-text {
    display: none;
}
