
    <!-- Footer -->
    <footer class="my-md-5 pt-md-3 pb-md-3 border-top">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="{{ .Site.Params.Forum }}" aria-label="KiCad user forum">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-discourse fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ range .Site.Params.social }}
                        <li>
                            <a href="{{ .url }}" aria-label="{{ .label }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <p class="copyright">
                        {{ .Site.Copyright }} Unless otherwise stated, all text and images on this website are licensed under either a choice of the
                        <a href="/about/licenses/#_creative_commons_attribution_3_0_unported">Creative Commons Attributions License</a>, version 3.0 or later;
                        or the <a href="/about/licenses/#_gnu_general_public_license_v3">General Public License version</a> 3 or later. This does not include
                        the KiCad source code, libraries, documentation, and any third party tools or products mentioned on the website.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {{ $js := resources.Get "/js/bootstrap.bundle.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
</body>
</html>
