<aside class="col-lg-2 col-md-2 col-sm-3 col-sm-offset-0">
    <nav class="secondary">
        <h3>Sidebar Nav</h3>
        <div class="side-links list-group">
            <a class="list-group-item list-group-item-action" href="Tests">Test</a>
            <a class="list-group-item list-group-item-action" href="Tests">Test</a>
            <a class="list-group-item list-group-item-action" href="Tests">Test</a>
            <a class="list-group-item list-group-item-action" href="Tests">Test</a>
        </div>
    </nav>
</aside>