{{ partial "header.html" .}}


<main class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/test/">Test</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="/test2/">Test 2</a>
                    </li>
                </ol>
            </nav>
            <content>
                <h1>Test</h1>
                Hello World
            </content>
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</main>

{{ partial "footer.html" .}}
